html {
    background: black;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 14pt;
    width: 100%;
}

body {
    margin: 0 auto;
}

h1, h2, h3 {
    color: #fc2;
}

h2.main {
    font-family: "Times New Roman", Times, Georgia, Garamond, serif;
    margin-top: -20px;
}

#main.large img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#main {
    position: relative;
}

#main.collapse {
    padding: 4px;
    border-bottom: 2px solid #fc2;
}

#main.collapse img {
    display: inline;
    height: 90px;
    margin: 0 -15px;
}
#main.collapse h2 {
    display: inline;
    height: 90px;
    line-height: 90px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 4px 0;
    padding-left: 20px;
}

table {
    display: inline-block;
    margin: 0 auto;
}

input[type=button], input[type=submit] {
    width: 300px;
    padding: 10px;
    margin: 10px;
    background: inherit;
    font: inherit;
    font-weight: bold;
    color: inherit;
    border: 3px solid #fc2;
    cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover {
    background: #860;
}

table input[type=button], table input[type=submit] {
    width: 140px;
    padding: 2px;
    margin: 0px;
    font-size: 75%;
    border-width: 1px;
}

table input[type=number] {
    width: 60px;
    padding: 2px;
    background: inherit;
    font: inherit;
    font-weight: bold;
    color: inherit;
    border: 1px solid #fc2;
    margin: 0;
    font-size: 75%;
}

#board_side {
    padding: 40px;
    overflow: auto;
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 736px;
    border-right: 2px solid #fc2;
    border-top: 2px solid #fc2;
}

#player_wrap {
    overflow-y: scroll;
    position: absolute;
    top: 110px;
    left: calc(100vw - 870px - 11px);
    right: 0;
    bottom: 0;
}

#player_border {
    position: fixed;
    left: calc(100vw - 870px - 11px + 150px);
    right: 0;
    top: 110px;
    bottom: 0;
    border-top: 2px solid #fc2;
    border-left: 2px solid #fc2;
    z-index: 2;
    pointer-events: none;
}

#player_side {
    overflow: visible;
    padding: 40px;
    margin-left: 150px;
}

.center {
    text-align: center;
}

.board_float {
    float: left;
    margin-right: 40px;
}

#board {
    padding: 26px;
    background:
        url("/static/board_corner.png") no-repeat top left,
        url("/static/board_corner.png") no-repeat top right,
        url("/static/board_corner.png") no-repeat bottom left,
        url("/static/board_corner.png") no-repeat bottom right,
        url("/static/board_top.png") repeat-x top,
        url("/static/board_top.png") repeat-x bottom,
        url("/static/board_side.png") repeat-y left,
        url("/static/board_side.png") repeat-y right;
    background-size: 26px 26px;
    position: relative;
}

#board th {
    text-shadow:
        -1px  0px black,
         0px -1px black,
         1px  0px black,
         0px  1px black,
        -1px -1px black,
         1px -1px black,
         1px  1px black,
        -1px  1px black;
}

#board tr:first-child th {
    position: absolute;
    top: 2px;
    right: 0px;
    left: 0px;
    color: white;
}

#board tr:not(:first-child) th:first-child {
    position: absolute;
    height: 100px;
    line-height: 100px;
    left: 7px;
}

#board tr:last-child {
    height: 0px;
}
#board tr:last-child th {
    line-height: 0px;
    height: 0px;
    position: relative;
    top: 15px;
    padding: 0;
}

#board input {
    display: none;
}
#board label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}
#board input[type="radio"]:checked+.board {
    border: 3px solid #fc2;
}


.board {
    width: 60px;
    height: 100px;
    position: relative;
    border: 3px solid black;
    padding-left: 40px;
}

.board.active {
    border: 3px dashed #c92;
}

.board .tag-settlement:before {
    content: "S";
    bottom: 2px;
    left: 2px;
    color: #CFC;
    width: 23px;
}
.board .tag-civilization:before {
    content: "C";
    bottom: 29px;
    left: 2px;
    color: #FCC;
    width: 23px;
}

.board .number {
    font-size: 130%;
    top: 2px;
    left: 2px;
    width: 29px;
}

.board .tag-player,
.board .tag-settlement:before,
.board .tag-civilization:before,
.board .number {
    text-shadow:
        -1px  0px black,
         0px -1px black,
         1px  0px black,
         0px  1px black,
        -1px -1px black,
         1px -1px black,
         1px  1px black,
        -1px  1px black;
    font-weight: bold;
}

.board .tag-settlement:before,
.board .tag-civilization:before,
.board .number {
    display: block;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.board .tag-player {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.3);
    float: right;
    text-align: center;
    margin: 2px;
    font-size: 68%;
}

.board .tag-player-Ledgerman {
    color: pink;
}
.board .tag-player-Maverick {
    color: #7a6ba1;
}
.board .tag-player-Wizard {
    color: red;
}
.board .tag-player-Corporal {
    color: green;
}
.board .tag-player-Arbiter {
    color: purple;
}
.board .tag-player-Warrior {
    color: blue;
}
.board .tag-player-Shaman {
    color: maroon;
}
.board .tag-player-Farmer {
    color: #29b8b2;
}
.board .tag-player-Alchemist {
    color: turquoise;
}
.board .tag-player-Brinksman {
    color: darkturquoise;
}
.board .tag-player-Provost {
    color: orange;
}
.board .tag-player-Abbott {
    color: yellow;
}
.board .tag-player-Denier {
    color: #d3f8fb;
}

.board .bubble {
    width: 250px;
    padding: 6px;
    position: absolute;
    z-index: 1;
    left: 108px;
    top: -3px;
    display: none;
    border: 3px solid #fc2;
    background: black;
    text-align: left;
}
#board .board:hover .bubble {
    display: block;
}

.board .bubble ul {
    list-style: none;
    margin: 0;
    padding-left: 0.25em;
}

.board .bubble .players,
.board .bubble .settlement,
.board .bubble .civilization {
    padding-left: 8px;
}

.board .bubble em {
    color: #AAA;
    font-size: 75%;
}

.board .bubble .players:before {
    display: block;
    content: "Players\A";
    white-space: pre;
    text-transform: uppercase;
    font-size: 60%;
    color: #CCC;
    margin-left: -8px;
    margin-top: 2px;
}

.board .bubble .settlement:before {
    display: block;
    content: "Settlement\A";
    white-space: pre;
    text-transform: uppercase;
    font-size: 60%;
    color: #CCC;
    margin-left: -8px;
    margin-top: 2px;
}

.board .bubble .civilization:before {
    display: block;
    content: "Civilization\A";
    white-space: pre;
    text-transform: uppercase;
    font-size: 60%;
    color: #CCC;
    margin-left: -8px;
    margin-top: 2px;
}

.board .bubble ul li::before {
    content: "\2022";
    font-weight: bold;
    color: white;
    display: inline-block;
    width: 0.75em;
}

.board-biome {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.board-resource {
    z-index: -1;
    position: absolute;
    top: 55px;
    bottom: 5px;
    left: 55px;
    right: 5px;
}

.board-settlement {
    z-index: -1;
    position: absolute;
    top: 5px;
    bottom: 55px;
    left: 50px;
    right: 10px;
}

.board-player {
    z-index: -1;
    position: absolute;
    top: 55px;
    bottom: 5px;
    left: 5px;
    right: 55px;
}

.board-player-icon {
    background: url("/static/player.png") center;
    background-size: cover;
}

.board-settlement-civ {
    background: url("/static/civilization.png") center;
    background-size: cover;
}

.board-settlement-settle {
    background: url("/static/settlement.png") center;
    background-size: cover;
}

.board-biome-Ocean {
    background: url("/static/biome_ocean.png") center;
    background-size: cover;
}
.board-biome-Mine {
    background: url("/static/biome_mine.png") center;
    background-size: cover;
}
.board-biome-Plains {
    background: url("/static/biome_plains.png") center;
    background-size: cover;
}
.board-biome-Forest {
    background: url("/static/biome_forest.png") center;
    background-size: cover;
}
.board-biome-Desert {
    background: url("/static/biome_desert.png") center;
    background-size: cover;
}
.board-biome-Oasis {
    background: url("/static/biome_oasis.png") center;
    background-size: cover;
}

.board-resource-Lumber {
    background: url("/static/resource_lumber.png") 5% center;
    background-size: cover;
}

.board-resource-Wheat {
    background: url("/static/resource_wheat.png") center;
    background-size: cover;
}

.board-resource-Meat {
    background: url("/static/resource_meat.png") center;
    background-size: cover;
}

.board-resource-Dairy {
    background: url("/static/resource_dairy.png") center;
    background-size: cover;
}

.board-resource-Water {
    background: url("/static/resource_water.png") center;
    background-size: cover;
}

.board-resource-Wool {
    background: url("/static/resource_wool.png") center;
    background-size: cover;
}

.board-resource-Horses {
    background: url("/static/resource_horses.png") center;
    background-size: cover;
}

.board-resource-Gems {
    background: url("/static/resource_gems.png") center;
    background-size: cover;
}

.board-resource-Iron {
    background: url("/static/resource_iron.png") center;
    background-size: cover;
}

.board-resource-Coal {
    background: url("/static/resource_coal.png") center;
    background-size: cover;
}

.player {
    border: 2px solid #666;
    padding: 5px;
    position: relative;
}
.player.current {
    border: 2px solid #fc2;
}

.player.current:before {
    content: "Current Turn";
    display: block;
    padding: 4px;
    position: absolute;
    background: black;
    right: calc(100% + 4px);
    top: -2px;
    height: 20px;
    line-height: 20px;
    width: 150px;
    border: 2px solid #fc2;
    text-align: center;
    z-index: 3;
}

.player td, .player th {
    padding: 2px;
}
.player .name {
    border-bottom: 1px solid white;
}
.player .name strong {
    font-size: 120%;
}
.player .name em {
    font-size: 80%;
    font-style: normal;
    text-transform: uppercase;
    color: #CCC;
    position: absolute;
    top: 4px;
    right: 4px;
}

.player input[type=button], .player input[type=submit] {
    width: 40px;
}

.player .resource {
    width: 40px;
    text-align: right;
}

.player .amount {
    width: 70px;
    text-align: center;
}

#actions th, #actions td {
    vertical-align: top;
}
#actions th {
    border-bottom: 1px solid white;
}
#actions input[type=radio] {
    display: none;
}

#actions label {
    border: 2px solid black;
    display: block;
    padding: 2px;
    width: 150px;
}

#actions input[type=submit] {
    width: 150px;
}

#actions input[type=radio]:checked+label {
    border-color: #fc2;
}
