<!doctype html>
<head>
<title>Cones of Dunshire</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    tr.child_row td {
        padding-left:20px;
    }
</style>
</head>
<body>
<div id="main" style="text-align: center">
<img style="display: block; margin-left: auto; margin-right: auto; width: 50%"
     src="{{ url_for('static', filename='logo.png') }}"
     alt="Cones of Dunshire">
</img>
<h2>Game</h2>
</div>
<form action="{{ url_for('dice_roll') }}" method="post">
    <input class="button" type="submit" name="roll" value="Roll Dice"/>
</form>
{% if dice_3 %}
<h3>The Dice You Roll to See How Many Dice You Roll</h3>
<table id="dice_3">
    <tr>
    {% for d in dice_3 %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>

    {% endfor %}
    </tr>
</table>
{% endif %}
{% if dice %}
<h3>The Actual Dice ({{ dice_total }} Dice)</h3>
<table id="dice">
    <tr>
    {% for d in dice %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>
        {% if loop.index % 6 == 0 and loop.index != 0 %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endif %}
<h2>Players</h2>
<table id="players">
    {% for player in players %}
    <tr>
        <td><strong>{{ player.name }}:</strong></td>
        <td><em>{{ player.role|string }}</em></td>
    </tr>
    {% for r in resources %}
        <form action="{{ url_for('resource_update', player=player.id, resource=r.value) }}" method="post">
            <tr class="child_row">
                <td>{{ r|string }}:</td>
                <td>{{ player.resources[r.value] }}</td>
                <td><input class="button" type="submit" name="minus" value="-"/></td>
                <td><input class="button" type="submit" name="reset" value="0"/></td>
                <td><input class="button" type="submit" name="plus" value="+"/></td>
            </tr>
        </form>
    {% endfor %}
    {% endfor %}
</table>
</body>
