<!doctype html>
<head>
<title>Cones of Dunshire</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    tr.child_row td {
        padding-left:20px;
    }
    .board {
        border: 1px solid black;
    }
</style>
</head>
<body>
<div id="main" style="text-align: center">
<img style="display: block; margin-left: auto; margin-right: auto; width: 5%"
     src="{{ url_for('static', filename='logo.png') }}"
     alt="Cones of Dunshire">
</img>
<h2>Game</h2>
</div>
<table id="board" class="board">
    {% for r in board %}
        <tr class="board">
            {% for tile in r %}
                <td class="board">
                    <table>
                        <tr>
                            <td><strong>Biome:</strong></td>
                            <td>{{ tile.biome|string }}</td>
                        </tr>
                        <tr>
                            <td><strong>Resource:</strong></td>
                            <td>{{ tile.resource|string }}</td>
                        </tr>
                        <tr>
                            <td><strong>Number:</strong></td>
                            <td>{{ tile.number }}</td>
                        </tr>
                        {% if tile.settlement is not none %}
                        <tr>
                            <td><strong>Settlement:</strong></td>
                            <td>{{ players[tile.settlement].name }}</td>
                        </tr>
                        {% endif %}
                        {% if tile.civilization is not none %}
                        <tr>
                            <td><strong>Civilization:</strong></td>
                            <td>{{ players[tile.civilization].name }}</td>
                        </tr>
                        {% endif %}
                        {% if tile.players %}
                        <tr>
                            <td><strong>Player(s):</strong></td><td></td>
                            {% for p in tile.players %}
                            <tr class="child_row">
                                <td>{{ players[p].name }}<td>
                            </tr>
                            {% endfor %}
                        </tr>
                        {% endif %}
                        <form action="{{ url_for('board_action', idx=tile.idx) }}" method="post">
                        <tr>
                            <td><strong>Actions:</strong></td>
                            <td></td>
                            {#<td>#}
                            {#<ul style="list-style: none">#}
                                <tr class="child_row"><td>
                                    <select type="text" name="player">
                                        <option value="" disabled selected>Select a player...</option>
                                        {% for player in players %}
                                            <option value="{{ player.id }}">{{ player.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td></tr>
                                <tr class="child_row"><td>
                                    <input class="button" type="submit" name="move" value="Move Here"/>
                                </td></tr>
                                <tr class="child_row"><td>
                                    <input class="button" type="submit" name="settle" value="Build Settlement"/>
                                </td></tr>
                                <tr class="child_row"><td>
                                    <input class="button" type="submit" name="civ" value="Build Civilization"/>
                                </td></tr>
                            {#</ul>#}
                            {#</td>#}
                        </tr>
                        </form>
                    </table>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<br/>
<form action="{{ url_for('dice_roll') }}" method="post">
    <input class="button" type="submit" name="roll" value="Roll Dice"/>
</form>
{% if dice_3 %}
<h3>The Dice You Roll to See How Many Dice You Roll</h3>
<table id="dice_3">
    <tr>
    {% for d in dice_3 %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>

    {% endfor %}
    </tr>
</table>
{% endif %}
{% if dice %}
<h3>The Actual Dice ({{ dice_total }} Dice)</h3>
<table id="dice">
    <tr>
    {% for d in dice %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>
        {% if loop.index % 6 == 0 and loop.index != 0 %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endif %}
<h2>Players</h2>
<table id="players">
    {% for player in players %}
    <tr>
        <td><strong>{{ player.name }}:</strong></td>
        <td><em>{{ player.role|string }}</em></td>
    </tr>
    {% for r in resources %}
        <form action="{{ url_for('resource_update', player=player.id, resource=r.value) }}" method="post">
            <tr class="child_row">
                <td>{{ r|string }}:</td>
                <td>{{ player.resources[r.value] }}</td>
                <td><input class="button" type="submit" name="minus" value="-"/></td>
                <td><input class="button" type="submit" name="reset" value="0"/></td>
                <td><input class="button" type="submit" name="plus" value="+"/></td>
            </tr>
        </form>
    {% endfor %}
    {% endfor %}
</table>
</body>
