<!doctype html>
<head>
<title>Cones of Dunshire</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="main" class="collapse">
<img src="{{ url_for('static', filename='logo_black_bg.png') }}"
     alt="Cones of Dunshire">
</img>
<h2>Game</h2>
</div>
<div id="board_side">
<form action="{{ url_for('board_action') }}" method="post">
<div class="board_float">
<table id="board">
    <tr>
        <th colspan="{{ cols }}">Game Board</th>
    </tr>
    {% for r in board %}
        <tr>
            <th>{{ rows - (loop.index - 1) }}</th>
            {% for tile in r %}
                <td>
                    <input type="radio" id="cell_{{ tile.idx }}" name="idx" value="{{ tile.idx }}">
                    <div class="board">
                        <div class="board-biome board-biome-{{ tile.biome|string }}"></div>
                        <div class="board-resource board-resource-{{ tile.resource|string }}"></div>

                        {% if tile.civilization is not none %}
                            <div class="board-settlement board-settlement-civ"></div>
                        {% elif tile.settlement is not none %}
                            <div class="board-settlement board-settlement-settle"></div>
                        {% endif %}

                        {% if tile.players %}
                            <div class="board-player board-player-icon"></div>
                        {% endif %}

                        <label for="cell_{{ tile.idx }}"></label>
                        <div class="number">{{ tile.number }}</div>
                        <div class="bubble">
                            {{ tile.biome|string }} / {{ tile.resource|string }} Tile
                            <div class="players">
                                {% if tile.players %}
                                <ul>
                                    {% for p in tile.players %}
                                    <li>{{ players[p].name }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <em>None</em>
                                {% endif %}
                            </div>
                            <div class="settlement">
                                {% if tile.settlement is not none %}
                                {{ players[tile.settlement].name }}
                                {% else %}
                                <em>None</em>
                                {% endif %}
                            </div>
                            <div class="civilization">
                                {% if tile.civilization is not none %}
                                {{ players[tile.civilization].name }}
                                {% else %}
                                <em>None</em>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
            <th colspan="1"></th>
        {% for c in col_idx %}
            <th colspan="1">{{ c }}</th>
        {% endfor %}
    </tr>
</table>
</div>
<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li class="flash">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<table id="actions">
    <tr><th>Players</th><th>Actions</th></tr>
    <tr>
        <td>
            {% for player in players %}
            <input type="radio" id="player_{{ player.id }}" name="player" value="{{ player.id }}">
            <label for="player_{{ player.id }}">{{ player.name }}</label>
            {% endfor %}
        </td>
        <td>
            <input class="button" type="submit" name="move" value="Move Here"><br>
            <input class="button" type="submit" name="settle" value="Build Settlement"><br>
            <input class="button" type="submit" name="civ" value="Build Civilization"><br>
            <input class="button" type="submit" name="remove_settle" value="Remove Settlement"><br>
            <input class="button" type="submit" name="remove_civ" value="Remove Civilization"><br>
        </td>
    </tr>
</table>
</form>
</div>
<div id="player_side">
<form action="{{ url_for('dice_roll') }}" method="post">
    <input class="button" type="submit" name="roll" value="Roll Dice"/>
</form>
{% if dice_3 %}
<h3>The Dice You Roll to See How Many Dice You Roll</h3>
<table id="dice_3">
    <tr>
    {% for d in dice_3 %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>

    {% endfor %}
    </tr>
</table>
{% endif %}
{% if dice %}
<h3>The Actual Dice ({{ dice_total }} Dice)</h3>
<table id="dice">
    <tr>
    {% for d in dice %}
        <td>
            <img style="width: 100px"
                 src="{{ url_for('static', filename='die_'~ d ~'.png') }}"
                 alt="{{ d }}"
                 title="{{ d }}">
        </td>
        {% if loop.index % 6 == 0 and loop.index != 0 %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endif %}
<form action="{{ url_for('collect') }}" method="post">
    <input class="button" type="submit" name="collect" value="Collect Resources"/>
</form>
<form action="{{ url_for('end_turn') }}" method="post">
    <input class="button" type="submit" name="end_turn" value="End Turn"/>
</form>
<h2>Players</h2>
<table id="players">
    {% for player in players %}
    <tr>
        <td class="name" colspan="6">
            <strong>{{ player.name }}</strong>
            <em>{{ player.role|string }}</em>
            {% if player.id == turn %}
                <strong style="float: right; text-align: right;">It's your turn!</strong>
            {% endif %}
        </td>
    </tr>
    <form action="{{ url_for('cone_update', player=player.id) }}" method="post">
        <tr class="child_row">
            <td class="resource">Cones</td>
            <td class="amount">{{ player.cones }}</td>
            <td><input class="button" type="submit" name="minus" value="-"/></td>
            <td><input class="button" type="submit" name="reset" value="0"/></td>
            <td><input class="button" type="submit" name="plus" value="+"/></td>
            <td><input type="number" name="delta" min="1" value="1"/></td>
        </tr>
    </form>
    {% for r in resources %}
        <form action="{{ url_for('resource_update', player=player.id, resource=r.value) }}" method="post">
            <tr class="child_row">
                <td class="resource">{{ r|string }}</td>
                <td class="amount">{{ player.resources[r.value] }}</td>
                <td><input class="button" type="submit" name="minus" value="-"/></td>
                <td><input class="button" type="submit" name="reset" value="0"/></td>
                <td><input class="button" type="submit" name="plus" value="+"/></td>
                <td><input type="number" name="delta" min="1" value="1"/></td>
            </tr>
        </form>
    {% endfor %}
    {% endfor %}
</table>
</div>
</body>
