<!doctype html>
<head>
<title>Cones of Dunshire</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="main" style="text-align: center" class="large">
<a href="{{ url_for('index') }}">
<img src="{{ url_for('static', filename='logo_black_bg.png') }}"
     alt="Cones of Dunshire">
</a>
<h2>Your Hand</h2>
</div>
<form action="{{ url_for('remove_card') }}" method="post" class="center">
<table>
{% if cards %}
{% for card in cards %}
    <tr>
        <td>{{ card.text }}</td>
        <td style="width: 20px"></td>
        <td>
            <input class="button" type="submit" name="{{ card.id }}" value="Remove">
        </td>
    </tr>
{% endfor %}
{% else %}
    <tr>
        <td>You have no cards.</td>
    </tr>
{% endif %}
</table>
</form><br><br>
<form action="{{ url_for('hand') }}" method="post" class="center">
    <input class="button" type="submit" name="draw" value="Draw">
    <br />
    <input class="button" type="submit" name="clear" value="Clear">
</form>
</body>
