<!doctype html>
<head>
<title>Cones of Dunshire</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="main" class="large" style="text-align: center">
<img src="{{ url_for('static', filename='logo_black_bg.png') }}"
     alt="Cones of Dunshire">
</img>
<h2 class="main">A Gaming Experience by Benjamin Wyatt</h2>
</div>
<form action="{{ url_for('main_menu') }}" method="post" class="center">
    <input class="button" type="submit" name="new_game" value="New Game">
    <input class="button" type="submit" name="hand" value="Your Hand">
</form>
</body>
