<!doctype html>
<head>
<title>Go to bed.</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="main" style="text-align: center">
<div id="header"></div>
<br>
<br>
<br>
<br>
<h1>Go to bed!</h1>
<h2>Your humble farmer may have captured the central cone, but he's tired now.</h2>
<h2>Go to bed, because tomorrow's the real senior ditch day!</h2>
<br>
<br>
<iframe width="560" height="315" style="display: block; margin: 0 auto" src="https://www.youtube.com/embed/ma-7jb9vEjA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</body>
